.banner2 {
    background-image: url(../img/banner2.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .botones{
        background-color: rgba(238, 129, 238, 0.3);
        border-radius: 5px;
        border: solid $color_secundario 2px;
        height: auto;
        text-align: center;
        width: 250px;
        padding: 20px;
        position: absolute;

        .blanco {
            color: $color_2;
            font-size: 50px;
            font-weight: 500;
        }
        :hover {
            color: $color_secundario;
        }
    }
    .perros {
        top: 35%;
        left: 25%;
    }
    .gatos {
        top: 35%;
        left: 55%;
    }

}

.adoptables {
    text-align: center;

    @each $alineacion in h1, h2 {
        #{$alineacion}{
            text-align: left;
        }
    }
    
    img {
        margin-top: 15px;
        
    }

        .abajo:hover {
                box-shadow: 1px 1px 30px rgb(192, 192, 192);
                h4 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 15px;
                }
            }
    .caja {
        height: 450px;
    }

}
