.footer {
    height: auto;
    background-color: $color_principal;
    padding: 35px 30px;
    color: $color_1;

    .logo_footer {
        width: 30px;
        height: auto;
        padding: 5px;
    }
}