.quizz {
    @for $i from 1 through 5 {
        span {
            color: $color_secundario;
        }
    }

    input[type=radio]{
        height: 15px;
        width: 15px;
    }

    p {
        padding: 20px 0;
        font-size: 25px;
    }

    .fondo_form {
        padding: 20px 50px 50px 50px;
        border-radius: 10px;
        border: solid $color_secundario 2px;
        

        .form {
            margin: 5px 30px 5px 0;
            width: 300px;
            padding: 15px;
            background-color: $color_principal;
            border-radius: 10px;
            font-weight: 400;
            font-size: 13pt;
            color: $color_1;
        }
    }

    
}
