$color_principal: violet;
$color_secundario: purple;
$color_1: black;
$color_2: white;
$margen: 50px;

$colores:dia;
body{
    @if $colores == noche {
        background-color: rgb(31, 31, 32);
        color: white;
        .footer_text, textarea {
            background-color: black;
            color: white;
        }
    }
}
